body {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    background-color: #fff;
    color: #000;
}

#content{
    margin: 10px;
    padding: 10px;
    border: 1px solid #d9d8d1;
}

h1{
    font-size: 18px;
    display: block;
    padding: 6px 8px;
    font-weight: bold;
    background-color: #000;
    text-decoration: none;
    color: #00ff00;
}

div.title{
    display: block;
    padding: 6px 8px;
    font-weight: bold;
    background-color: #edece6;
    text-decoration: none;
    color: #000000;
}

#userWindow{
    margin: 0 auto;
    padding: 0;
    width: 310px;
    border: 1px solid #000;
}

#userWindow dl{
    margin: 10px;
}

#userWindow img{
    margin: 10px;
    border: 1px solid #eee;
}

#newfile, #newdir{
    position:absolute;
    top: 15px;
    left: 15px;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #000000;
    z-index: 100;
}
#new-label, #cancel-label, #cancel-element, #new-element,
#new, #cancel{
    margin: 0px;
    width: 60px;
    display: inline;
}
#newfile #name-element #name, #newdir #name-element #name{
    width: 120px;
}

#left{
    float: left;
    position: relative;
    width: 20%;
    margin: 0;
}

#menu{
    height: 100px;
}

#navigation{
    overflow: auto;
}

#center{
    float: left;
    position: relative;
    width: 60%;
}

#navigation .list{
    left:0;
    margin-left:0;
}
#navigation .file{
    list-style-image: url('/images/i-file.png');
}
#navigation .dir{
    list-style-image: url('/images/i-dir.png');
}
#navigation .updir{
    list-style-image: url('/images/i-up.png');
}
#codeBorder{
    border: 1px solid #d9d8d1;
}
#commitMessage{
    width: 60%;
}
#footer{
    clear: both;
}
.CodeMirror-line-numbers{
    font-family: monospace;
    font-size: 10pt;
    margin: 0.4em;
    padding: 0;
    color: #999999;
}
.loginMsg{
    background-color: #000;
    color: #aaa;
    padding: 1px 10px;
}
.hidden{
    display: none;
}
img {
    border: 0;
}