body {
    font-size: 10pt;
    border: 1px solid #d9d8d1;
    margin: 10px;
    background-color: #ffffff;
    color: #000000;
}

h1{
    color: #527bbd;
    font-family: sans-serif;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    line-height: 1.3;
    border-bottom: 0.2px solid silver;
}

div.title{
    display: block;
    padding: 6px 8px;
    font-weight: bold;
    background-color: #edece6;
    text-decoration: none;
    color: #000000;
}


#newfile{
    position:absolute;
    top: 150px;
    left: 150px;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #000000;
    z-index: 100;
}

#newfile #name-label, #newfile #name-element{
    margin: 10px;
}

#newfile #new-label, #newfile #cancel-label, #newfile #cancel-element, #newfile #new-element,
#newfile #new, #newfile #cancel{
    margin: 0px;
    width: 60px;
    display: inline;
}

#newfile #name-element #name{
    width: 120px;
}

#left{
    float: left;
    width: 20%;
    margin: 0;
}

#menu{
    height: 100px;
}

#navigation{
    overflow: auto;
}

#content{
    float: left;
    width: 60%;
}

#navigation .list{
    left:0;
    margin-left:0;
}

#navigation .file{
    list-style-image: url('/images/i-file.png');
}

#navigation .dir{
    list-style-image: url('/images/i-dir.png');
}

#navigation .updir{
    list-style-image: url('/images/i-up.png');
}

#codeBorder{
    border: 1px solid #d9d8d1;
}

#footer{
    clear: both;
}

.CodeMirror-line-numbers{
    font-family: monospace;
    font-size: 10pt;
    margin: 0.4em;
    padding: 0;
    color: #999999;
}

.hidden{
    display: none;
}

#menu img {
    border: 0;
}